asgiref==3.8.1
blosc==1.11.1
channels==4.1.0
channels_redis==4.2.0
cryptography==42.0.7
daphne==4.1.2
Django==4.2.12
django-cors-headers==4.4.0
djangorestframework==3.15.1
djangorestframework_simplejwt==5.3.1
neomodel==5.3.0
numpy==1.24.4
pandas==2.0.0
python_dateutil==2.9.0.post0
pytz==2024.1
Requests==2.31.0
scipy==1.10.0
spectrum==0.8.1
websocket-client==1.8.0
celery==5.4.0