asgiref==3.9.1
asttokens==3.0.0
avro==1.12.0
awscrt==0.27.6
blosc2==3.3.0
botocore==1.40.21
BRAVOClient==0.1.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
colorlog==6.9.0
contourpy==1.3.3
cryptography==44.0.0
cycler==0.12.1
dcm2niix==1.0.20250506
decorator==5.2.1
Django==5.1.3
django-cors-headers==4.6.0
djangorestframework==3.15.2
donfig==0.8.1.post1
easydev==0.13.3
executing==2.2.1
filelock==3.16.1
fonttools==4.59.0
google-crc32c==1.8.0
idna==3.10
ipython==9.6.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jmespath==1.0.1
joblib==1.5.1
kiwisolver==1.4.8
line_profiler==4.2.0
matplotlib==3.10.5
matplotlib-inline==0.2.1
msgpack==1.1.1
mysqlclient==2.1.0
ndindex==1.10.0
nibabel==5.3.2
numcodecs==0.16.5
numexpr==2.11.0
numpy==2.1.3
nvidia-nccl-cu12==2.28.3
packaging==25.0
pandas==2.2.3
parso==0.8.5
patsy==1.0.2
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.8
prompt_toolkit==3.0.52
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pycparser==2.22
Pygments==2.19.2
PyMySQL==1.1.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyWavelets==1.8.0
PyYAML==6.0.3
requests==2.32.3
s3transfer==0.13.1
scikit-learn==1.6.1
scipy==1.14.1
setuptools==75.8.0
six==1.17.0
specparam==2.0.0rc2
spectrum==0.8.1
sqlparse==0.5.3
stack-data==0.6.3
statsmodels==0.14.6
threadpoolctl==3.6.0
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
uWSGI==2.0.31
waitress==3.0.2
wcwidth==0.2.14
whitenoise==6.7.0
xgboost==3.0.5
zarr==3.2.1
